# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cso
*.tlog
*.obj
!Citrus/Models/brick_wall/*.obj
*.sarif
*.xml
*.res
*.log
*.ipdb
*.iobj
*.recipe
*.pdb
*.idb
*.ilk
*.txt
*.db
*.suo
*.ipch
*.aps
*.cso